.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color-text: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-text-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.current {
  color: var(--accent-text-color);
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
.section {
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}
/* Header */

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-text-color);
}
.logo-black {
  color: black;
}
.logo-white {
  color: var(--third-color-text);
}
/* Nav */
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-text-color);
}
.nav {
  color: var(--secondary-text-color);
}
/* Main */

/* Hero */
.hero-title {
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--third-color-text);
}
.section.hero {
  height: 600px;
  background-color: var(--secondary-bg-color);
}

.hero-button {
  font-family: 'Roboto';
  font-style: normal;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: var(--accent-text-color);
  color: var(--third-color-text);
  border: none;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* About */
.about .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* Team */
.section.team {
  background-color: var(--third-bg-color);
}

.team .position,
.team .title {
  font-size: 16px;
  line-height: 1.18;
}

.team .title {
  font-weight: 500;

  color: #212121;
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
}

.address {
  font-style: inherit;
}

.footer .link[target='_blank'] {
  color: var(--third-color-text);
}
.footer .info {
  color: rgba(255, 255, 255, 0.6);
}
.footer .info:hover,
.footer .info:focus {
  color: var(--accent-text-color);
}
.footer .link.map:hover,
.footer .link.map:focus {
  color: var(--accent-text-color);
}

/* Portfolio */
.filter-list {
  display: flex;
  justify-content: center;
}
.filter-items {
  display: block;
  align-items: center;
}
.filter-items:not(:nth-last-child(1)) {
  margin-right: 8px;
}

.filter-button {
  font-family: 'Roboto';
  font-style: normal;
  border: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: var(--secondary-text-color);
  background-color: var(--third-bg-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus,
.active-filter {
  background-color: var(--accent-text-color);
  color: var(--third-color-text);
}

.catalog .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.catalog .position {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.catalog-link {
  text-decoration: none;
  color: inherit;
}
