:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color-text: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-text-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.link:hover {
  color: var(--accent-text-color);
}
.link:focus {
  color: var(--accent-text-color);
}
.list {
  list-style: none;
}
.blue {
  color: var(--accent-text-color);
}
.section {
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: #212121;
}
.button {
  border: 0;
}
.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
}
.button.primary:hover {
  background-color: var(--primary-bg-color);
  color: var(--accent-text-color);
}
.button.primary:focus {
  background-color: var(--primary-bg-color);
  color: var(--accent-text-color);
}
.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--third-bg-color);
  color: var(--secondary-text-color);
}
.button.secondary:hover {
  background-color: var(--accent-text-color);
  color: var(--third-color-text);
}
.button.secondary:focus {
  background-color: var(--accent-text-color);
  color: var(--third-color-text);
}


/* Header */

/* Logo */
.logo {
  font-family: 'Raleway' sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Nav */
.nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
.nav .link:hover {
  color: var(--accent-text-color);
}
.nav .link:focus {
  color: var(--accent-text-color);
}

/* Main */

/* Hero */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  background-color: var(--secondary-bg-color);
  color: var(--third-color-text);
}

/* About */
.about .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* Team */
.section.team{
  background-color: var(--third-bg-color);
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}

.team .position {
  font-size: 16px;
  line-height: 1.18;
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
}

/* Logo */
.footer .logo {
  font-family: 'Raleway' sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--third-color-text);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third-color-text);
}

.footer .info {
  color: rgba(255, 255, 255, 0.6);
}
.footer .info:hover {
  color: var(--accent-text-color);
}
.footer .info:focus {
  color: var(--accent-text-color);
}

/* Portfolio */

.catalog .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.catalog .position {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
